<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/style/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <h3>Welcome </h3>
    <form action="/login" method="POST">
        <button type="submit">Log Out</button>
    </form>
    <br>
    <form action="/add" method="POST">
        <input type="text" name="name" id="" placeholder="name">
        <br>
        <input type="text" name="comment" placeholder="comment">
        <br>
        <input type="number" name="rating" placeholder="rating" max="5">
        <br>
        <button type="submit">Add</button>
    </form>

    <div class="edit-container">
        <% for ( var i = 0; i < data.length; i++) { %>
        <form id="<%= 'edit-form-' + data[i].idrestaurants %>"action="" method="POST" style="display: none;">
                <input type="text" name="names" value="<%= data[i].name %>">
                <input type="text" name="comments" value="<%= data[i].comment %>">
                <input type="text" name="ratings" value="<%= data[i].rating %>">
                <br>
                <button class="cancel-btn">Cancle</button>
                <button id="save-btn" name=''>Save</button>
        </form>
        <% } %>

    </div>
    <h1>Restaurants</h1>

    <div class="container">

        <button class="all">All</button>

        <div id="restaurants">
            <% for ( var i = 0; i < data.length; i++) { %>
            <br>
            <div class="all-cards">
                <%= data[i].name %> |
                <br>
                <%= data[i].comment %> |
                <br>
                <%= data[i].rating %>
                <br>
                <button class="edit-btn" name="<%= data[i].idrestaurants %>">Edit</button>
                <button class="delete-btn" name="<%= data[i].idrestaurants %>">Delete</button>
            </div>
            <br>



            <% } %>
        </div>




        <!-- <button class="top5">Top 5 rated</button>
            <div id="toprated">
                <% for ( var i = 0; i < result.length; i++) { %>
                <br>
                <div class="all-cards">
                        <%= result[i].name %> |
                        <%= result[i].comment %> |
                        <%= result[i].rating %>
                        <br>
                <button>edit</button>
                <form action="/delete">
                    <button   >delete</button>

                </form>
                </div>
                

                <br>
                <% } %>
            </div> -->







    </div>
    <script>

        // var all = document.querySelector('.all');
        // var restaurant = document.getElementById('restaurants');
        // var top = document.querySelector('.top5');
        // var rated = document.getElementById('toprated');


        // all.addEventListener("click", function (e) {
        //     e.preventDefault();

        //     if (restaurant.style.display !== 'none') {
        //         restaurant.style.display = 'none';
        //     }
        //     else {
        //         restaurant.style.display = 'block';
        //     }
        // });

        // top.addEventListener("click", function (e) {
        //     e.preventDefault();

        //     if (rated.style.display !== 'none') {
        //         rated.style.display = 'none';
        //     }
        //     else {
        //         rated.style.display = 'block';

        //     }
        // });

//   top.forEach(btn => {
//     btn.addEventListener("click", (e) => {
//         e.preventDefault();
//     rated.style.display = 'none';
//     });
// });


// price.forEach(btn => {
//     btn.addEventListener("click", e => {
//         e.preventDefault()
//         restaurants.style.display = "none";


//         // price[0].classList.add("active");

//     });
// });


    </script>

    <script src="/javascript/main.js"></script>
</body>

</html>