<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/style/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <h3>Welcome <%= username %> </h3>
    <a class="btn btn-dark" href="/logout"> Logout</a>
 
    <div class="container">
        <div class="header">
                <h1 >Restaurants</h1>

                <button class="addRestaurant btn btn-primary" >Add Restaurant</button>
        </div>
           
        

            <div class="add-container card p-4" style="width: 18rem; height: 10rem; margin-left: 296px;">
                    <form action="/add" method="POST">
                        <input type="text" name="name" id="" placeholder="name" required >
                        <br>
                        <input type="text" name="comment" placeholder="comment" required >
                        <br>
                        <input type="number" name="rating" placeholder="rating" max="5" required >
                        <br>
                        <button type="submit">Add</button>
                    </form>
            </div>

        <h1 class="all">All</h1>
        <div class="edit-container card p-4" style="width: 18rem; height: 10rem; margin-left: 296px;">
                <% for ( var i = 0; i < data.length; i++) { %>
                <form id="<%= 'edit-form-' + data[i].idrestaurants %>"  action="" method="POST" style="display: none;">
                        <input class="card-subtitle  text-muted " type="text" name="names" value="<%= data[i].name %>" required>
                        <input class="card-subtitle text-muted " type="text" name="comments" value="<%= data[i].comment %>" required>
                        <input class="card-subtitle  text-muted " type="number" name="ratings" value="<%= data[i].rating %>" max="5" required>
                        <br>
                        <button class="cancel-btn">Cancle</button>
                        <button id="save-btn" name=''>Save</button>
                </form>
                <% } %>
        
            </div>
        <div id="restaurants" class="row">
            <% for ( var i = 0; i < data.length; i++) { %>
            <br>
            <div class="">
                    <div class="card m-2" style="width: 18rem; height: 10rem;">
                            <div class="card-body">
                              <h6 class="card-subtitle mb-2 text-muted col"><%= data[i].name %> </h6>
                              <h6 class="card-subtitle mb-2 text-muted col"><%= data[i].comment %></h6>
                              <h6 class="card-subtitle mb-2 text-muted col"><%= data[i].rating %></h6>
            
                              <button class="edit-btn btn btn-warning" name="<%= data[i].idrestaurants %>">Edit</button>
                              <button class="delete-btn btn btn-danger" name="<%= data[i].idrestaurants %>">Delete</button>
                            </div>
                          </div>
                
            </div>
            <br>
            <% } %>
        </div>
    </div>
    <script src="/javascript/main.js"></script>
</body>

</html>